body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  background: linear-gradient(125deg, #ECFCFF 0%, #ECFCFF 40%, #B2FCFF calc(40% + 1px), #B2FCFF 60%, #5EDFFF calc(60% + 1px), #5EDFFF 72%, #3E64FF calc(72% + 1px), #3E64FF 100%);
  width: 100%;
  height: 100vh;
}

header{
  background-image: linear-gradient(to right top, #102fad, #0e36d7, #244ef7, #3159fa, #3E64FF);
}
  header h1{
      font-family:'Poppins', sans-serif;
      color: #ffffff;
      font-size: 40px;
      text-shadow: 3px 1px 4px rgba(0,0,0,0.6);
      padding-top: 25px;
      margin-left: 25px;
  }
  .header-logo{
      height: 110px;
      padding-top: 5px;
  }
  #backhoe-img{
      padding-left: 15px;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  }

a {
  color: #00B7FF;
}

footer{
  background: #3E64FF;
  padding: 4%;
  height: 140px;
  /*clear: both;*/
  text-align: center;
  color: aliceblue;
  font-family: 'Raleway', sans-serif;
  /*position: fixed; */
  /*bottom: 0;*/
  /*width: 100%;*/
}

.myContainer{
  width:700px;
  padding: 9%;
  margin-left: 27%;
  font-family: 'Raleway', sans-serif;
}

h3 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
}

.errorAutenticacion{
  color: rgb(206, 42, 13);
  font-weight: 500;
}